//////////////////////////
// LOGO DIV
.logo {

    &__place {
        font-size: var(--heading-font-size);
        font-family: "Dosis", sans-serif;
        font-weight: bold;
        color: var(--color-text-dark);
        margin-bottom: 15rem;

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 5rem;
        }
    }

    &__heading {
        margin-left: 7rem;
        text-transform: uppercase;
        font-size: var(--heading-font-size);;
        line-height: 6rem;
        margin-bottom: 3rem;
        display: inline-block;
    }

    &__text {
        margin-left: 7rem;
        font-size: var(--default-font-size);
        text-transform: uppercase;
        color: var(--color-text-light);
        width: 58%;
        margin-bottom: 3rem;
    }
}
////////////////////////////
//NAVIGATION DIV
.nav {

    &__list {
        display: flex;
        align-items: flex-start;
        margin-left: auto;
        padding: 6rem 0;
        list-style: none;

        @media only screen and (max-width: $bp-medium) {
            padding: 3rem;
            margin-left: 0;
            justify-content: space-around;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 1.5rem 2.5rem;
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-right: 2.5rem;
        }

        &:last-child {
            margin-right: 20rem;

            @media only screen and (max-width: $bp-large) {
                margin-right: 10rem;
            }
        }

        @media only screen and (max-width: $bp-smallest) {
            margin: 0;
            padding: 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        &:link,
        &:visited {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;

        }
    }
}

/////////////////////////////
//BUTTON
.button {
    margin-left: 7rem;

    &, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: var(--default-font-size);
        padding: 1.2rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        color: white;
        background-color: var(--color-purple);
        border: none;
        transition: all .2s;
        transform: translateY(0);
    }

    &:hover {
        transform: translateY(-3px);
        color: var(--color-text-dark);
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    }
    
    &:active,
    &:focus {
        color: white;
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }

    &__biography {
        font-size: 1.2rem;
        padding: 1rem 4rem;
        margin-left: 0;
    }

    &__services {
        padding: .5rem 1.5rem;
        font-size: 1.2rem;
        align-self: flex-end;
    }

    &__newsletter {
        margin-left: 2rem;
        text-transform: none;
    }

    &__slider {
       background-color: #fff;
       color: var(--color-text-dark); 
       text-transform: none;
       border: 1px solid #707070;
       margin-left: 0;
    }
}

//////////////////////
//BIOGRAPHY SECTION
.biography {
    display: flex;
    align-items: center;
    padding: 0 10rem;
    margin: 7rem 0 5rem 0;

    @media only screen and (max-width: $bp-medium) {
        margin: 0;
    }

    @media only screen and (max-width: $bp-medium1) {
        flex-direction: column;
    }

    &__photo {
        flex: 0 0 50%;

        &--item {
            max-width: 100%;
        }
    }

    &__section {
        flex: 1;
        padding:6rem 2rem;
        background-image: url(../assets/img/Group_182.png);

        @media only screen and (max-width: $bp-large) {
            padding: 3rem 0rem 3rem 7rem;
        }

        @media only screen and (max-width: $bp-medium1) {
            padding: 0;
        }
    }

    &__line {
        color: var(--color-purple);
        margin-bottom: 3rem;
    }

    &__heading {
        font-size: var(--heading-font-size);
        font-weight: 300;
        margin-bottom: 3rem;
    }

    &__text {
        width: 85%;
        margin-bottom: 5rem;

        @media only screen and (max-width: $bp-medium1) {
            width: 100%;
        }
    }
}

//////////////////////////
// SERVICES
.services {
    padding: 0 10rem 10rem 10rem;
    background-image: url(../assets/img/Group_1238.png);
    background-position: 48% 100%;

    &__line {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--color-purple);
        margin-bottom: 3rem;
        padding-left: 2rem;
    }

    &__heading {
        font-size: var(--heading-font-size);
        font-weight: 300;
        margin-bottom: 10rem;
        padding-left: 2rem;
    }

    &__line-heading {
        width: 100%;
        padding-left: 10rem;
        margin-top: 14rem;

        @media only screen and (max-width: $bp-large) {
            margin-top: 7rem;
        }
    }

    ///////////////////////
    // CARDS
    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }

        &--item {
            flex: 0 0 28%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #fff;
            padding: 3rem;
            box-shadow: 0 1rem 2.5rem rgba(0,0,0,.2);
            border-radius: 2rem;
            margin-bottom: 10rem;

            @media only screen and (max-width: $bp-medium) {
                flex: 0 0 48%;
            }

            @media only screen and (max-width: $bp-small) {
                &:not(:last-child) {
                    margin-bottom: 5rem;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &--photo {
            margin-bottom: 2rem;
            align-self: center;
        }

        &--heading {
            text-transform: uppercase;
            font-size: 1.8rem;
            margin-bottom: 3.5rem;
        }

        &--text {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }
}

///////////////////////
//SLIDER
.pricing {
    background-color: rgba(126,118,249, .15);
    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__line {
        font-size: 2rem;
        color: var(--color-purple);
        margin-bottom: 3rem;
    }

    &__heading {
        font-size: var(--heading-font-size);
        font-weight: 300;
    }

    &__slider {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }

        /////////////////////
        // SLIDER CARD
        &--card {
            flex: 0 0 28%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            margin-top: 7rem;
            padding: 3rem;
            box-shadow: 0 1rem 2.5rem rgba(0,0,0,.2);
            border-radius: 2rem;

            @media only screen and (max-width: $bp-small) {
                margin-top: 5rem;
            }
    
            &-heading {
                font-size: 2.8rem;
                padding: 3rem 0 5rem 0;

                @media only screen and (max-width: $bp-medium) {
                    padding: 2rem 0 3rem 0;
                }
            }
    
            &-text {
                text-align: center;
                margin-bottom: 4rem;

                @media only screen and (max-width: $bp-medium) {
                    margin-bottom: 3rem;
                }
            }
    
            &-price {
                font-size: 3rem;
                font-weight: 200;
                color: var(--color-purple);
                margin-bottom: 5rem;

                @media only screen and (max-width: $bp-medium) {
                    margin-bottom: 3rem;
                }
            }
        }
        
        &--boxes {
            display: flex;
            margin: 10rem 0 0 0;

            @media only screen and (max-width: $bp-medium) {
                display: none;
            }
        }
    }
}

//////////////////////
//NEWSLETTER
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;

    @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0;
    }

    &__line {
        font-size: 2rem;
        color: var(--color-purple);
        margin-bottom: 2.5rem;
    }

    &__heading {
        font-size: 3.2rem;
        margin-bottom: 4rem;

        @media only screen and (max-width: $bp-smallest) {
            text-align: center;
            line-height: 4rem;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }
    }

    &__input {
        font-size: 1.2rem;
        font-family: inherit;
        color: inherit;
        display: block;
        padding: 1rem 2rem;
        border-radius: 5px;
        border: none;
        width: 30%;
        background-color: #F6F7FB;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: #999999;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 60%;
            margin-bottom: 3rem;
        }
    }
}

///////////////////// 
//FOOTER
.footer {
    color: #fff;
    display: flex;
    align-items: flex-start;
    padding: 27rem 5rem 7rem 5rem;
    background-image: url(../assets/img/Bg_Shape_1.png), url(../assets/img/Bg_Shape.png);
    background-repeat: no-repeat;
    background-size: 178rem, 300rem;
    background-position:57% 42%, 89% 40%;

    @media only screen and (max-width: $bp-large) {
        padding: 20rem 0 5rem 0;
        background-position:57% 47%, 88% 42%;
    }

    @media only screen and (max-width: $bp-medium1) {
        background-image: none;
        background: #7E76F9;
        width: 100%; 
        margin-top: 5rem;
        padding: 5rem 0;   
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        align-items: flex-start;

        & > * {
            padding-left: 5rem;
        }
    }

    @media only screen and (max-width: 500px) {
        align-items: center;
        justify-content: space-around;

        & > * {
            padding-left: 0 !important;
            padding: 0;
            margin: 0;
        }
    }

    [class*="--heading"] {
        margin-bottom: 3rem;
    }

    &__links,
    &__hours,
    &__contact {
        & > * {
            &:not(:first-child) {
                margin-bottom: 1.5rem;
            }
        } 
    }

    &__logo {
        flex: 0 0 35%;
        padding: 3rem 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: $bp-large) {
            padding: 3rem 3rem;
        }

        &--place {
            font-size: var(--heading-font-size);;
            margin-bottom: 5rem;
        }

        &--text {
            font-size: 3.1rem;
            margin-bottom: 3.5rem;
        }

        &--icons {
            display: flex;
            align-items: center;
        }

        &--icon {
            height: 1.6rem;
            width: 1.6rem;
            &:not(:last-child) {
                padding-right: 5.5rem;
            }   
        }
    }

    &__links {
        flex: 0 0 15%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &--heading {
            font-size: 2rem;
        }

        &--item {
            &,
            &:link,
            &:visited {
                font-size: 1.6rem;
                list-style: none;
                text-decoration: none;
                color: #fff;
            } 

            &:hover {
                color: rgb(199, 199, 199);
            }
        }
    }

    &__hours {
        flex: 0 0 20%;
        padding-left: 3rem;

        & span {
            padding-left: 2rem;
        }
    }

    &__contact {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 12rem;

        @media only screen and (max-width: $bp-large) {
            padding-left: 5rem;
        }

        & > * {
            display: flex;
            align-items: center;
        }

        & > * img {
            padding-right: 1rem;
            padding-bottom: 1rem;
        }
    }

    @media only screen and (max-width: $bp-small) {
        & > * {
            padding-left: 15rem;
            margin-bottom: 5rem;
        }
    }
}